<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.its.db.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.its.db.pojo.Student" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="c_id" property="id" jdbcType="INTEGER" />
    <result column="c_username" property="username" jdbcType="VARCHAR" />
    <result column="c_name" property="name" jdbcType="VARCHAR" />
    <result column="c_perSign" property="persign" jdbcType="VARCHAR" />
    <result column="c_headImg" property="headimg" jdbcType="VARCHAR" />
    <result column="c_password" property="password" jdbcType="VARCHAR" />
    <result column="c_school" property="school" jdbcType="VARCHAR" />
    <result column="c_stuid" property="stuid" jdbcType="VARCHAR" />
    <result column="c_email" property="email" jdbcType="VARCHAR" />
    <result column="c_telpthone" property="telpthone" jdbcType="VARCHAR" />
    <result column="c_del" property="del" jdbcType="BIT" />
  </resultMap>
  <select id="getByPage" resultMap="BaseResultMap" parameterType="com.its.controller.vo.StudentVo">
    SELECT s.c_id, s.c_username, s.c_name, s.c_perSign, s.c_headImg, s.c_password, s.c_school, s.c_stuid, s.c_email, s.c_telpthone
    FROM t_student s, t_classroom_relation_student crs, t_classroom c
    WHERE s.c_del = 0 and crs.c_del = 0 and c.c_del = 0 and crs.c_classroomId = c.c_id and crs.c_studentId = s.c_id and c.c_id = #{classRoomId,jdbcType=INTEGER}
    limit #{beginIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="getCount" resultType="Integer" parameterType="com.its.controller.vo.StudentVo">
    SELECT count(*)
    FROM t_student s, t_classroom_relation_student crs, t_classroom c
    WHERE s.c_del = 0 and crs.c_del = 0 and c.c_del = 0 and crs.c_classroomId = c.c_id and crs.c_studentId = s.c_id and c.c_id = #{classRoomId,jdbcType=INTEGER}
  </select>
  <select id="getStudentByClassId" parameterType="Integer" resultMap="BaseResultMap">
     SELECT s.c_id, s.c_username, s.c_name, s.c_perSign, s.c_headImg, s.c_password, s.c_school, s.c_stuid, s.c_email, s.c_telpthone
     FROM t_student s, t_classroom_relation_student crs, t_classroom c
     WHERE s.c_del = 0 and crs.c_del = 0 and c.c_del = 0 and crs.c_classroomId = c.c_id and crs.c_studentId = s.c_id and c.c_id = #{id}
  </select>
</mapper>
